<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
	  <services>
		  <!-- Service definition -->
		  <service name="HaoticniKupidon.HaoticniKupidon">

			  <!-- basic endpoint za registraciju -->
			  <endpoint
				  address="http://localhost:4000/Registracija"
				  binding="basicHttpBinding"
				  contract="HaoticniKupidon.IHaoticniKupidon" />

			  <!-- endpoint za slanje poruka - duplex povezivanje za kontinualno slanje poruka-->
			  <!--Kada pismo stigne do određene osobe, na konzoli se ispisuju detalji
                    osobe od koje je dobila pismo uz nasumično dodatu jednu od
                    sledećih poruka: „Želim da se upoznamo.", „Nisam zainteresovan/a
                    za upoznavanje." (u ovom slučaju broj telefona se ne ispisuje)ili
                    „Radujem se našem susretu!".
                    • Onemogućiti korisnika da prima druga pisma dok ne potvrdi preko
                    konzole da je primio prethodno-->
			  <endpoint
				  address="http://localhost:4001/Messaging"
				  binding="wsHttpDualBinding"
				  contract="HaoticniKupidon.ICupidDuplexService" />


		  </service>
	  </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
