<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint name="CupidServiceEndpoint"
					  address="http://localhost:8000/CupidService"
					  binding="wsDualHttpBinding"
					  contract="CupidService.ICupidService" />
		</client>
	</system.serviceModel>

</configuration>