<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPub" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ISub" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50927/Kupidon.svc/pub" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPub" contract="ServiceReference1.IPub"
                name="BasicHttpBinding_IPub" />
            <endpoint address="http://localhost:50927/Kupidon.svc/sub" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_ISub" contract="ServiceReference1.ISub"
                name="WSDualHttpBinding_ISub">
                <identity>
                    <userPrincipalName value="DESKTOP-VLC684H\blizanac" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>