<system.serviceModel>
	<services>
		<service name="CupidServiceNamespace.CupidService">
			<endpoint address="http://localhost:8000/CupidService"
					  binding="wsDualHttpBinding"
					  contract="CupidService.ICupidService"/>
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
		</service>
	</services>
</system.serviceModel>
